body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    font-family: Arial, sans-serif;
    background: #1f2430;
    color: white;
    padding-left: 140px;
    padding-top: 80px;
    overflow: hidden; /* geen scrollbars */
    position: relative;
    opacity: 0;
    transition: opacity 3000ms ease; /*ik wou een fade-in effect doen om de pop in te vermijden, maar dat werkt niet heel goed*/
    
}
body.is-loaded {
    opacity: 1;
    pointer-events: auto;
}


#bg3d { /* 3D-achtergrond*/
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
}


.menu {
    text-align: center;
    position: relative;
    z-index: 1;
}

.menu-buttons { /* knoppen onder elkaar met flex */
    display: flex; 
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}

button {
    background: transparent;
    border: none;
    color: white;
    padding: 0;
    font-family: 'ArabDances';
    font-size: 16px;
    cursor: pointer;
    min-width: 0;
    appearance: none;
}
/*font geïmporteerd van Dafont.com*/
@font-face { 
    font-family: 'ArabDances';
    src: url('./assets/ArabDances.ttf') format('truetype');
}

button:hover {
    text-decoration: underline;
}