body {
    margin: 0;
    display: flex;
    background: #1f2430;
    padding-left: 140px;
    padding-top: 50px;
    overflow: hidden; /* geen scrollbars */
    opacity: 0;
    transition: opacity 3000ms ease; /*fade in effect*/
    
}
body.is-loaded {
    opacity: 1;
}


#bg3d { /* 3D-achtergrond*/
    position: fixed; /*3d model in het midden vn het scherm*/
    inset: 0;
}

.menu {
    text-align: center;
    z-index: 1;
}

.menu-buttons { /* knoppen onder elkaar met flex */
    display: flex; 
    flex-direction: column;
    gap: 12px;
}  

button {
    background: transparent;
    border: none;
    color: rgb(85, 2, 2); 
    font-family: 'ArabDances';
    font-size: 26px;
    cursor: pointer;
}
/*font geïmporteerd van Dafont.com*/
@font-face { 
    font-family: 'ArabDances';
    src: url('./assets/ArabDances.ttf') format('truetype');
}

button:hover {
    transition: all 0.3s ease;
    color: rgb(255, 228, 191);
}